@font-face {
    font-family: Capitalist; /* Гарнитура шрифта */
    src: url(../fonts/capitalist.ttf); /* Путь к файлу со шрифтом */
}

body
{
    background-color: #000000;
    color: #fdfdfd;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container
{
    width: 730px;
}

.header
{
    margin-bottom: 30px;
    border-bottom: 1px solid #e5e5e5;
}

.header h3
{
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
    color: #fdfdfd;
}

.title
{
    font-family: 'Capitalist';
    font-size: 21px;
}

.jumbotron
{
    background: url("../images/jumbotron_bg.png") no-repeat;
    padding-top: 10px;
    padding-bottom: 10px;
}

.adv
{
    color: #e5e5e5;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    -moz-border-radius:10px;  /* for Firefox */
    -webkit-border-radius:10px; /* for Webkit-Browsers */
    border-radius:10px; /* regular */
    text-align: center;
}

.adv h1
{
    font-family: 'Capitalist';
    color: #fdfdfd;
}

.adv .adv-descr
{
    font-size: 15px;
    margin-top: 20px;
    color: #fdfdfd;
}

.marketing img
{
    border-radius: 30px;
}

.col-lg-6
{
    text-align: center;
}

.footer
{
    font-size: 15px;
    color: #555555;
    text-align: center;
}

.footer
{
    clear: both;

}